EXPO_PUBLIC_WORDPRESS_BASE_URL=https://newenergyeg.com
EXPO_PUBLIC_NEWENERGY_APP_TOKEN=paste-token-from-wordpress-plugin
EXPO_PUBLIC_FACEBOOK_REVIEW_URL=https://www.facebook.com/newenergyeg
EXPO_PUBLIC_GOOGLE_MAPS_REVIEW_URL=https://www.google.com/maps/search/?api=1&query=New%20Energy%20Egypt
